{% extends "base.html" %}
{% block title %}Loyihalar{% endblock title %}
{% block content %}
<div class="card mt-3">
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#error-modal"><span class="fas fa-plus"></span></button> &nbsp;
            <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
                    <div class="modal-content position-relative">
                    <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="modal-body p-0">
                            <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                            <h4 class="mb-1" id="modalExampleDemoLabel">Yangi loyiha yaratish</h4>
                            </div>
                            <div class="p-4 pb-0">
                                <div class="mb-3">
                                    <label class="col-form-label" for="recipient-name">Nomi</label>
                                    <input name="name" placeholder="Loyiha nomi" class="form-control" id="recipient-name" type="text" />
                                    <label class="col-form-label" for="recipient-password">Kalit so'z</label>
                                    <input name="password" placeholder="Loyiha uchun kalit so'z" class="form-control" id="recipient-password" type="text" />
                                    <label class="col-form-label" for="recipient-lang">Til</label>
                                    <select name="language" id="" class="form-control">
                                        <option value="python">Python</option>
                                        <option value="cpp">C++</option>
                                        <option value="java">Java</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Yopish</button>
                            <button class="btn btn-primary" type="submit">Yaratish </button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
<div class="row g-3 mt-3">
    {% for project in projects %}
        <div class="col-md-3">
            <div class="card h-md-100 ecommerce-card-min-width">
                <div class="card-header pb-0">
                    <a href="{% url 'project' project.subname %}">{{project.name}}</a>
                </div>
                <div class="card-body d-flex flex-column justify-content-end">
                    <div class="row">
                        <div class="col">
                            {{project.cdate|date}}
                        </div>
                        <div class="col-auto ps-0">
                            {{project.language}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}