{% extends "base.html" %}
{% block title %}Sinovlar{% endblock title %}
{% load algo %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="row g-3 mt-3">
    {% for quiz in quizzes %}
        <div class="col-md-3">
            <div class="card h-md-100 ecommerce-card-min-width">
                <div class="card-header pb-0">
                    {{quiz.name}} <br> Muallif: <a href="{% url 'profile' quiz.author.username  %}">{{ quiz.author}}</a>
                </div>
                <div class="card-body d-flex flex-column justify-content-end">
                    <div class="row">
                        <div class="col">
                            <p>Savollar: {{ quiz.id|questions_count }}</p>
                        </div>
                        <div class="col-auto ps-0">
                            {% if quiz.isPublic %}
                            <a href="{% url 'quiz' quiz.id %}"><span class="far fa-eye"></span></a>
                            {% elif not quiz.isPublic and user.id|quiz_user:quiz.id %}
                            <a href="{% url 'quiz' quiz.id %}"><span class="far fa-eye"></span></a>
                            {% else %}
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#error-modal"><span class="fas fa-unlock"></span></button>
                            <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
                                <div class="modal-content position-relative">
                                <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                                    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="{% url 'follow_quiz' quiz.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body p-0">
                                        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                                        <h4 class="mb-1" id="modalExampleDemoLabel">Yopiq test sinovida ishtirok etish</h4>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <div class="mb-3">
                                                <label class="col-form-label" for="recipient-name">Pin</label>
                                                <input name="password" placeholder="Joriy test sinovi uchun kalit so'z" class="form-control" id="recipient-name" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Yopish</button>
                                        <button class="btn btn-primary" type="submit">Kirish </button>
                                    </div>
                                </form>
                                </div>
                            </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}