{% extends "base.html" %}
{% block content %}
<div class="row min-vh-100 flex-center g-0">
    <div class="col-lg-8 col-xxl-5 py-3 position-relative">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="card overflow-hidden z-index-1">
            <div class="card-header">
                <center>
                    <span class="text-info fw-bold fs-2">Kalit so'zni almashtirish</span>
                </center>
            </div>
            <div class="card-body">
                <form method="post">
                    {%  csrf_token%}
                    <div class="div">
                        <label for="old_password">Eski kalit so'z</label>
                        {{form.old_password}}
                    </div> <br>
                    <div>
                        <label for="new_password1">Yangi kalit so'z</label>
                        {{form.new_password1}}
                    </div> <br>
                    <div>
                        <label for="new_password2">Yangi kalit so'z takror</label>
                        {{form.new_password2}}
                    </div> <br>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-falcon-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}